<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tich hop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://localhost:8081/os/index">Open School</a></li>
      <li><a href="http://localhost:8081/lms/index">LMS</a></li>
      <li><a href="http://localhost:8081/cms/index">CMS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:8081/logout" id = 'logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="form-group">
      <form  id = 'form'>
          <div class='row'>
              <div class ='col-xs-6 form-group'>
                <label>Teacher *</label>
                    <select name="teacher" id="teacher" class="form-control">
                    </select>              
                </div>
          </div>

            <div class='row'>
              <div class ='col-xs-4 form-group'>
                <label>Title *</label>
                <input class="form-control" type="text" name='title'  id = 'title'>
              </div>
          </div>

           <div class='row'>
              <div class ='col-xs-4 form-group'>
                <label>Slug *</label>
                <input class="form-control" type="text" name='slug'  id = 'slug'>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-9 form-group'>
                <label>Description *</label>
                <textarea class="form-control" name='des'  id = 'des'></textarea>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-4 form-group'>
                <label>Price *</label>
                <input class="form-control" type="text" name='price'  id = 'price'>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-9 form-group'>
                <label>Start Date *</label>
                <input class="form-control" type="date" name='date'  id = 'date'>
              </div>
          </div>

           <div class='row'>
           <div class ='col-xs-9 form-group'>
              <div class="checkbox">
                <label><input type="checkbox" name = 'pub' value="1" id = 'pub' checked>Published</label>
            </div>
            </div>
          </div>

        <button type ='button' class = 'btn btn-info  responsive-width center-block' id = 'btn'>Submit</button>

        </form>
    </div>
</div>
<body>
</html>

<script>
    function post_request(router, data, callback){
        $.ajax({
                url: 'http://localhost:8081/' + router,
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: "json",
                success: function (response) {
                    callback(response)
                }
        });
    }

    function get_request(router, callback){
        $.ajax({
                url: 'http://localhost:8081/' + router,
                type: "GET",
                success: function (response) {
                    callback(response)
                }
        });
    }

</script>

<script>
    $( document ).ready(function() {
        get_request('cms/teachers', function(response){
          obj = JSON.parse(response)
          obj = obj.teachers
           Object.keys(obj).forEach(function(key) {
            console.log(key, obj[key]);
            $('#teacher').append($('<option></option>').val(key).html(obj[key]));

        });
        

    })
    })

    $('#btn').click(function() {
      result = {
        teacher : $('#teacher').val(),
        title : $('#title').val(),
        slug : $('#slug').val(),
        des : $('#des').val(),
        price: $('#price').val(),
        date : moment($('#date').val()).format('YYYY-MM-DD'),
        pub : $('#pub').val(),
      }
      console.log(result)

      post_request('cms/courses', result, function(res) {
        console.log(res)
        window.location.replace('http://localhost:8081/cms/index')
      })
    })
</script>