<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tich hop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://localhost:8081/os/index">Open School</a></li>
      <li><a href="http://localhost:8081/lms/index">LMS</a></li>
      <li><a href="http://localhost:8081/cms/index">CMS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:8081/logout" id = 'logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<ul class="nav navbar-nav">
      <li><a href="http://localhost:8081/lms/student-for-approval">Student approval</a></li>
      <li><a href="http://localhost:8081/lms/registered-students">All Student registered</a></li>
      <li><a href="http://localhost:8081/lms/all-book">All book in library</a></li>
      <li><a href="http://localhost:8081/lms/add-book">Add Book</a></li>
      <li><a href="http://localhost:8081/lms/issue-return">Issue/Return book</a></li>
      <li><a href="http://localhost:8081/lms/currently-issued">All book currently issued</a></li>
  </ul>


<div class="container col-xs-6">
    <div class="form-group">
      <form  id = 'form'>
          <div class='row'>
              <div class ='col-xs-6 form-group'>
                <label>Title of Book *</label>
                <input class="form-control" type="text" name='title'  id = 'title'>
              </div>
          </div>

            <div class='row'>
              <div class ='col-xs-4 form-group'>
                <label>Author *</label>
                <input class="form-control" type="text" name='author'  id = 'author'>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-9 form-group'>
                <label>Description *</label>
                <textarea class="form-control" name='des'  id = 'des'></textarea>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-3 form-group'>
                <label>Category *</label>
                <select name="category" id="category" class="form-control">
                </select>
              </div>
          </div>

          <div class='row'>
              <div class ='col-xs-9 form-group'>
                <label>Number of issues *</label>
                <input class="form-control" type="number" name='issue'  id = 'issue'>
              </div>
          </div>

        <button type ='button' class = 'btn btn-info  responsive-width center-block' id = 'btn'>Submit</button>

        </form>
    </div>
</div>

</body>
</html>


<script>
    function post_request(router, data, callback){
        $.ajax({
                url: 'http://localhost:8081/' + router,
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: "json",
                success: function (response) {
                    callback(response)
                }
        });
    }

    function get_request(router, callback){
        $.ajax({
                url: 'http://localhost:8081/' + router,
                type: "GET",
                success: function (response) {
                    callback(response)
                }
        });
    }

</script>

<script>
$( document ).ready(function() {
        get_request('lms/book-category', function(response){
            obj = JSON.parse(response)
            console.log(obj)
            category = obj.category

            for (let i=0;i<category.length;i++){
                $('#category').append($('<option></option>').val(category[i].id).html(category[i].category));
            }
            
        })

})

 </script>

 <script>
$('#btn').click(function(){
    result = {
        title : $('#title').val(),
        author : $('#author').val(),
        des : $('#des').val(),
        category : $('#category').val(),
        issue : $('#issue').val(),
    }
    console.log(result)
    post_request('lms/books', result, function(response){
        console.log(response)
        window.location.replace('http://localhost:8081/lms/all-book')
    })
})
 </script>